

.child1{
  position: absolute;
  top: 5%;
  left: 10%;
  }

.child2{
  position: absolute;
  top: 25%;
  left: 70%;
  }

.childd3{
  position: absolute;
  top: 25%;
  left: 70%;
  }

/*Затемнение картинок при наведении*/
.box-image a img,
.box-image img{
    opacity:1.0;
}
.box-image a img:hover,
.box-image img:hover{
    opacity:0.8;
}

.header {
  display: flex;
  padding: 80px 50px;
  background-repeat: no-repeat;
  background-position: center center;

  }


  h2 {
  position: relative;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-size: 4em;
  color: #c2c1c1;
  }

  h3 {
  position: relative;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-size: 2.5em;
  color: #fff;
  }