<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Началка</title>
    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <div class="child">
    <button type="submit" oneclick="templates/forma_in.html" class="btn btn-success" style="width:150x;height:60px">Войти</button>
      <button type="button" class="btn btn-warning" style="width:150x;height:60px">Зарегистрироваться</button>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
    <div class="child1">
      <header class="header">
      <h1>Домашняя начальная школа</h1>
      </header>
    </div>
    <div class="child2">
      <header class="header">
        <h2>Мы дистанционно обучаем детей с 1 по 4 класс</h2>
      </header>
    </div>
    <div class="child3">
      <header class="header">
        <h2>Вы можете смело доверить<br>нам обучение своего ребенка,<br>потому что:</h2>
      </header>
    </div>
    <div class="child4">
      <header class="header">
        <h3>На нашей платформе присутствует<br>множество уроков по всем<br>необходимым предметам</h3>
      </header>
    </div>
    <div class="child5">
      <header class="header">
        <h3>Простая и понятная система,<br>в которой разберется<br>любой ребенок</h3>
      </header>
    </div>
    <div class="child6">
      <header class="header">
        <h3>Добрые<br>преподаватели</h3>
      </header>
    </div>
    <div class="child7">
      <header class="header">
        <h2>Не упустите шанс,<br>и доверьтесь нам )</h2>
      </header>
    </div>
    <div class="child8">
    <button type="button" class="btn btn-success" style="width:150x;height:60px">Войти</button>
      <button type="button" class="btn btn-warning" style="width:150x;height:60px">Зарегистрироваться</button>
  </div>
</nav>
    </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
  </body>
</html>