<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style_personal.css">
       </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

  <div class="child1">
      <header class="header">
        <h2>Личный кабинет</h2>
      </header>
    </div>

  </body>
</html>