<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style_personal.css">
       </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

  <div class="child1">
      <header class="header">
        <h2>Личный кабинет</h2>
      </header>
    </div>

    <div class="child2">
        <header class="header">
            <h2>Выберите класс:</h2>
        </header>
    </div>
    <div class="child3">
        <a onclick="document.location='forma_register.html'"><img src="1class.png"></a>
        <img src="2class.png">
        <img src="3class.png">
        <img src="4class.png">
    </div>
    <div class="child4">
        <button type="button" class="btn btn-warning" onclick="document.location='forma_register.html'" style="width:150x;height:60px">Выбрать</button>
    </div>
  <div class="child5">
        <button type="button" class="btn btn-warning" onclick="document.location='forma_register.html'" style="width:150x;height:60px">Выбрать</button>
    </div>
  <div class="child6">
        <button type="button" class="btn btn-warning" onclick="document.location='forma_register.html'" style="width:150x;height:60px">Выбрать</button>
    </div>
  <div class="child7">
        <button type="button" class="btn btn-warning" onclick="document.location='forma_register.html'" style="width:150x;height:60px">Выбрать</button>
    </div>

  </body>
</html>