<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_personal.css">
          <style>
body {
background: url(/static/image/1.jpg);
}
</style>
       </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>


    </div>
    <div class="get_les">
        {% for item in items %}
        <h3 style="left: 1%; top: 50%;"><br>{{item.content}}</h3>
        {% endfor %}
    </div>
  </body>
</html>