body{
 background: url(8.png);
}

.header {
  display: flex;
  padding: 8px 50px;
  background-repeat: no-repeat;
  background-position: center center;

  }


  h2 {
  position: relative;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #c2c1c1;
  }

.child1{
  position: absolute;
  top: 5%;
  left: 0%;
  }